{% extends "sellbuy/layout.html" %}
{% load hitcount_tags %}

{% block content %}


        <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-info">
                            <ul>
                                <li> 덧글을 남기실때 반드시 실명으로 남겨 주세요. </li>
                                <li> 홈페이지 이용시 문제가 있으면 21300035@handong.edu로 메일을 보내주세요</li>
                                <li> 학기가 끝나면 모든 회원정보는 삭제됩니다. </li>
                            </ul>
                        </div>

                        <p  style="float:right">
                            <form action="" method="get">
                                <input type="submit" value="검색" class="btn btn-primary pull-right" />
                                <input type="text" name="q" class="pull-right" value="{{ q }}" />
                            </form>
                        </p>

                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr >
                                <th style="width:70px; text-align:center" >글 번호</th>
                                <th style="text-align:center">제목</th>
                                <th style="width:120px; text-align:center">작성자</th>
                                <th style="width:200px; text-align:center">업로드 시간</th>
                                <th style="width:60px; text-align:center">조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in post_list %}
                                <tr>
                                    <td style="text-align:center">{{ post.id }}</td>
                                    <td><a href="{% url "sell_list_page:sell_detail" post.id %}">{{ post.title }}</a>
				    <a href="{% url "sell_list_page:sell_detail" post.id %}#disqus_thread" data-disqus-identifier="{{ post.id }}" >Comments </a>
				    </td>
                                    
				    <td><small>by {{ post.user }}</small></td>
                                    <td><small>at {{ post.created_at | date:"Y-m-d D" }}</small></td>
                                    <td style="text-align:center"><small> {% get_hit_count for post %} </small></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                <a href="{% url 'sell_list_page:sell_new' %}" class="btn btn-primary" role="button" style="float:right">글쓰기</a>
                <a href="{% url 'sell_list_page:sell_list' %}" class="btn btn-primary" role="button" style="float:left">목록</a>

                    <div class="text-center">

                        {# Pagination #}

                        <ul class="pagination">

                        {% if post_list.page_obj.has_previous %}
                            <li class="disabled">
                              <a href="#">
                                <span>이전</span>
                              </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="?page={{ prev }}">
                                    <span>이전</span>
                                </a>
                            </li>
                        {% endif %}

                          {% for page in page_range %}
                            {% if page == currentPage %}
                                <li class="active"><a href="?page={{ page }}"> {{ page }}</a></li>
                            {% else %}
                                <li><a href="?page={{ page }}">{{ page }} </a></li>
                            {% endif %}
                          {% endfor %}

                        {% if post_list.page_obj.has_previous %}
                            <li {% if not post_list.page_obj.has_next %}class="disabled"{% endif %}>
                              <a href="#">
                                <span>다음</span>
                              </a>
                            </li>
                        {% else %}
                            <li>
                              <a href="?page={{ next }}">
                                <span>다음</span>
                              </a>
                            </li>
                        {% endif %}
                        </ul>
                            {# End-Pagination #}
                    </div>
                  </div>
            </div>
        </div>

{% endblock %}
