{% extends "sellbuy/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">

            <ul class="list-group">
                <a href="{% url 'lecture:python1' %}" class="list-group-item">[9주차] 튜터 세션 </a>
                <a href="{% url 'lecture:python2' %}" class="list-group-item">[10주차] 튜터 세션</a>
                <a href="{% url 'lecture:python3' %}" class="list-group-item">[11주차] 튜터 세션</a>
                <a href="{% url 'lecture:python4' %}" class="list-group-item">[12주차] 튜터 세션</a>
                <a href="{% url 'lecture:python5' %}" class="list-group-item">[13주차] 튜터 세션</a>
                <a href="{% url 'lecture:python6' %}" class="list-group-item">[14주차] 튜터 세션</a>
                <a href="{% url 'lecture:python7' %}" class="list-group-item">[15주차] 튜터 세선</a>
            </ul>


        </div>
    </div>

{% endblock %}