{% extends "sellbuy/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row">


            <ul class="list-group">
                <a href="{% url 'lecture:python1' %}" class="list-group-item">1강 Introduction</a>
                <a href="{% url 'lecture:python2' %}" class="list-group-item">2강 변수란? 출력을 해보자</a>
                <a href="#" class="list-group-item">3강 반복문, 조건문</a>
                <a href="#" class="list-group-item">4강 함수에 대한 이해</a>
            </ul>


        </div>
    </div>

{% endblock %}